body {
	direction: rtl;
	font-family: "Alef", Arial, sans-serif;
}

h1,
h2,
h3 {
	text-align: center;
}

header {
	text-align: center;
}

section:not(.sponsors) {
	max-width: 65rem;
	margin: 0 auto;
}

#sponsors {
	display: none;
}

.sponsor {
	display: inline-block;
}

.sponsor img {
	width: 100%;
}

#sponsors-tier-1 .sponsor {
	width: 45%;
}

#sponsors-tier-2 .sponsor,
#host .sponsor {
	width: 33%;
}
